@charset "UTF-8";

/* common */
.mt77{margin-top:77px !important;}
.mt45{margin-top:45px !important;}

/* layout */
.wrap{
  box-sizing:border-box;
	min-width:calc(100vw - 20px);
    min-height:100vh;
	padding:105px 0;
	background:url('../images/bg.png') repeat;
	overflow:hidden;

}


.section{
	position:relative;
	width:1240px;
	margin:0 auto;
	min-height:calc(100vh - 200px);
	box-sizing:border-box;
	padding-top:254px;

}

.wrap > .section:before{
	position:absolute;
	top:0;
	left:50%;
	content:'';
	display:block;
	max-width:1296px;
	min-width:1240px;
	width:100vw;
	height:275px;
	margin-top:-28px;
	background:url('../images/top_bg.png') no-repeat center;
	transform:translateX(-50%);
}
.wrap > .section .inner {
	padding-bottom:96px;
	background:url('../images/bg_white.png') repeat;
	box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.9);
}
.section .inner:after{
	content:"";
	display:block;
	clear:both;
	overflow:hidden;
}

/* main */
.happy-title{position:relative; margin-top:-96px;}
.happy-title img{vertical-align:top;}
.nav-list{display:flex; justify-content:space-between; width:630px; margin:74px auto auto;}
.nav-list li a,
.nav-list li span{display:block; width:184px; height:184px;background: no-repeat center 0 / cover; cursor:pointer;}
.nav-list li.decotter a{background-image:url("../images/icon01.png");}
.nav-list li.decotter a:hover,
.nav-list li.decotter a:focus{background-image:url('../images/icon01_on.png'); transition:all ease-in-out 1ms}
.nav-list li.message a{background-image:url("../images/icon02.png");}
.nav-list li.collaboration a{background-image:url("../images/icon03.png");}
.nav-list li.coming span{background-image:url("../images/icon03.png"); cursor:default; opacity:0.3;}
.nav-list li.art a{background-image:url("../images/icon_art.png");}
.nav-list li.art a:hover,
.nav-list li.art a:focus{background-image:url('../images/icon_art-on.png'); transition:all ease-in-out 1ms}
.nav-list li.write a{background-image:url("../images/icon_write.png");}
.nav-list li.write a:hover,
.nav-list li.write a:focus{background-image:url('../images/icon_write-on.png'); transition:all ease-in-out 1ms}
.nav-list li span{position:relative; display:block; text-indent:-9999px; overflow:hidden;}
.green-hr{width:892px; height:1px; margin:80px auto 0; background:#4ccdb3; border:none;}
.main-desc{margin-top:45px; text-align:center; color:#4ccdb3; font-size:18px; line-height:22px;}
.link-twitter{display:block; width:71px; height:70px; margin:55px auto 0; background:url(../images/icon_writter.png) no-repeat center;}
.link-twitter span{position:relative; display:block; text-indent:-9999px; overflow:hidden;}

/* decotter */
.decotter-link{display:block; width:231px; height:231px; margin:80px auto 0; background:url('../images/decotter_link.png') no-repeat}
.decotter-link span{position:relative; display:block; text-indent:-9999px; overflow:hidden;}
.decotter-img{margin-top:50px;text-align:center}
.decotter-img img{vertical-align:top;}

.thum-list{
  display:flex;
  flex-wrap:wrap;
}
.thum-list{display:flex; width:100%; margin-top:66px; padding:0 240px; box-sizing:border-box; flex-wrap:wrap; align-items:center;}
.thum-list li{width:138px; height:138px; margin:14px 7px 0; overflow:hidden;}
.thum-list li .thum{position:relative; padding-top:100%;}
.thum-list li .thum img{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%)}
.btn-back{display:block; width:118px; margin:70px auto 0;}
.btn-back img{vertical-align:top;}

.modal-container{position:relative; width:1500px !important; padding:0 0 140px!important; box-sizing:border-box; overflow:auto;}
.modal-container .modal-default-button{position:absolute; bottom:60px; left:50%; display:block; background:none; border:none; transform:translateX(-50%);}
.modal-container .modal-default-button:hover,
.modal-container .modal-default-button:focus{border:none; outline:none}
.modal-container .modal-default-button span{position:relative}
.modal-container .modal-body{margin:0;  padding:65px 0 0 !important;}
.modal-container .swiper-wrapper{}
.modal-container .swiper-slide{padding:0 100px; text-align:center;}
.modal-container .swiper-slide .inner-img{}
.modal-container .swiper-slide .inner-img .thum{display:block; overflow:auto; max-height:calc(100vh - 400px);}
.modal-container .swiper-slide img{max-width:100%;}
.modal-container .swiper-slide p{padding-top:22px;text-align:right; font-size:40px; letter-spacing:-0.6px; color:#23bc84;}
.modal-container .swiper-button-prev,
.modal-container .swiper-button-next{
	left:30px;
	width:30px;
	height:72px;
	background:url('../images/btn-left.png') no-repeat center;
}
.modal-container .swiper-button-next{left:auto; right:30px; background:url('../images/btn-right.png') no-repeat center;}
.modal-container .swiper-button-prev:after{display:none !important;}
.modal-container .swiper-button-next:after{display:none !important;}
.guide-box{
  display:flex;
  height:100%;
  width:100%;
  align-items:center;
  justify-content:center;
  text-align:center;
  flex-wrap:wrap;
}

.comment-list{text-align:center;}
.comment-list li{
  font-size:14px;
}

.comment-list li span{
  font-size:12px;
}

.comment label{display:flex; padding:0 50px;}
.comment label span{display:block; width:200px;  font-size:14px; font-weight:bold; white-space:nowrap;}
.comment label  input{width:600px;}
.comment button{display:block; width:200px; margin:0 auto;}

.col-list{display:flex; width:100%; justify-content:center;}
.col-list li{border:1px solid red; padding:10px;}
.col-list li + li{margin-left:20px;}



.link-list{display:flex; justify-content:left; margin-top:40px; padding:0 165px; flex-wrap:wrap;}
.link-list li{margin:40px 15px 0;}
.link-list li img{vertical-align:top;}
.write-box{width:880px; margin:0 auto; padding:66px 35px; text-align:left; box-sizing:border-box; background:url(../images/write/bg.png) repeat; font-size:16px; line-height:26px; color:#23bc84;}
.write-box p{text-align:right}
.cont{text-align:center; padding:100px;}

.message-wrap{
	box-sizing:border-box;
	min-width:calc(100vw - 20px);
	min-height:100vh;
	padding:0;
	background:url('../images/comment/bg.png') no-repeat center / cover;
	overflow:hidden;
}
.message-wrap .section{display:flex; height:100%; padding:0; height:100vh; flex-direction:column; justify-content:flex-end}
.comment .inner{display:flex; padding-bottom:30px;}
.comment .inner .icon-mail{display:block; flex-grow: 0; flex-shrink: 0;flex-basis: 67px; height:51px;background:url(../images/comment/icon.png) no-repeat}
.comment .inner label{display:block; padding:0; margin:0 0 0 10px;}
.comment .inner label input{margin:0; width:100%; height:50px; border-color:#1d3846; background:#1d3846; font-size:25px; color:#fdffbe;}
.comment .inner .id{width:196px;}
.comment .inner .message{width:798px;}
.comment .inner button{margin-left:auto; width:150px;}
